nav {
  background-color: #3c3990;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #a39d9d;
}

h1 {
  margin-bottom: 40px;
  text-align: center;
  color: #333333;
}